---
import Layout from '../../layouts/Layout.astro';
import site from '../../copy/site.ja.json';
import { Content } from '../../copy/legal/tokushoho.md';
---

<Layout title={site.legal.tokushohoTitle}>
  <div class="breadcrumb">
    <a href="/">Home</a><span>/</span>{site.legal.tokushohoTitle}
  </div>
  <div class="legal-page">
    <h1>{site.legal.tokushohoTitle}</h1>
    <Content />
  </div>
</Layout>
