---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
  <div class="not-found">
    <h1>404</h1>
    <p>お探しのページが見つかりませんでした</p>
    <a href="/" class="product-card-btn" style="width: auto; display: inline-block; padding: 14px 60px;">
      Back to Home
    </a>
  </div>
</Layout>
