---
const site = Astro.locals.site;
const { compact = false } = Astro.props;

const paragraphs = site.concept.body
  ? site.concept.body.split(/\n{2,}/)
  : (site.concept.paragraphs ?? []);
---

<div class={`about-section ${compact ? 'compact' : ''}`}>
  <div style="margin-bottom: 32px;">
    <span class="section-title-sm">{site.concept.smallLabel}</span>
    <h2 class="section-title" style="margin-bottom: 0;">{site.concept.heading}</h2>
  </div>
  <div class="about-text">
    {paragraphs.map((p) => <p set:html={p} />)}
  </div>
  {site.concept.signature && (
    <p class="about-signature">{site.concept.signature}</p>
  )}
</div>
